#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213547;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




.container {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.circle-row {
  display: flex;
  gap: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  font-weight: bold;
  font-size: 28px;
}

/* Линии */
.center-block::before,
.center-block::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 2px;
  height: 50px;
}

.circle:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
}
